@use '../../variable' as *;


.header{
    max-width: 2000px;
    width: 100%;
    min-height: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    box-shadow: $box-shadow-sm;
    
}
.headerContent{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.headerRight{
    display: flex;
    align-items: center;
    gap: 10px;
}
