@use "../../../variable.scss" as *;

.postsContent {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.postTopSide {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;

  @include md {
    flex-direction: column;
  }
}

.mainLeftSide {
  width: 70%;
  display: flex;
  flex-direction: column;

  gap: 10px;

  @include md {
    width: 100%;
  }
  @include md {
    width: 100%;
  }
}

.Posts {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;

  @include md {
    flex-direction: column;
    gap: 20px;
  }
}

 