@use "../../../variable.scss" as *;

.postsContent {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.postTopSide {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.mainLeftSide {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.heading {
  width: 100%;
  height: 30px;
  border: 1px solid black;
}

.Posts {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow-y: auto;
}

.post {
  width: 48%;
  height: 300px;
  border: 1px solid red;
  margin-bottom: 10px;
}

.mainRightSide {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.search {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.input {
  width: 100%;
  height: 40px;
  border: 1px solid black;
}
.button {
  width: 100%;
  height: 40px;
  border: 1px solid black;
}

.categories {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.category {
  width: 100%;
  height: 30px;
  border: 1px solid black;
}


.lastPosts{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.postBox{
  width: 100%;
  height: 30px;
  border: 1px solid black;
}

.tags{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.pagination {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid green;
  gap: 10px;
}
