@use "../../../variable" as *;

.logoContainer {
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoText {
  background: linear-gradient(135deg, #2563eb 0%, #7c3aed 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 20px;
}
