@use "../../../variable.scss" as *;

.hero {
  width: 100%;
  background-color: $primary-lighter;
  padding: 2rem;
  text-align: center;
  border-radius: 20px;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-family: "SansitaSwashed";
  }

  p {
    font-size: 1.25rem;
     font-family: "SansitaSwashed";
  }
}
