@use "../../../../variable.scss" as *;

.navItem {
  padding: 5px 30px;
  font-size: 18px;
  cursor: pointer;
  border-radius: $border-radius-xl;
  transition: all $transition-slow ease-in-out;
 

  &:hover {
    box-shadow: $box-shadow-md;
  }
  &.active {
    background-color: $bg-secondary;
    font-weight: bold;
  }
}
.navItemText {
  font-size: 15px;
  color: $text-primary;
}
